.wrapper {
  margin: 0;
}

.form-signin {
  margin: auto;
  max-width: 330px;
  padding: 15px;
  width: 100%;
}

.create-ad {
  margin: 20px auto;
}

.btn-form {
  background-color: #0071ea;
  border-color: #0071ea;
  color: #fff;
}

.btn-form:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  color: #fff;
}

.post-desc {
  overflow: hidden;
  white-space: pre-line;
}
