.article {
  padding-bottom: 20px;
}

.article:not(:first-child) {
  border-bottom: 1px solid #777;
  margin-bottom: 20px;
}
.title-post {
  display: inline-block;
  font-size: 32px;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
}
